jobs:
  
  deploy:

    runs-on: ubuntu-latest


    steps:

    - uses: actions/checkout@v4

    - name: "Build Docker Image"
      run: docker build -t ketan1309/dummy-node-app:latest

    - name: "Build Successful"
      run: echo "docker image build successfully!!"
