#pipeline name
name: Node.js CD pipeline

#events

on:
     # event 1
  push:
    branches: [ "main" ]
     # event 2
  pull_request:
    branches: [ "main" ]

jobs:
  
  deploy:

    runs-on: ubuntu-latest


    steps:

    - uses: actions/checkout@v4

    - name: "Build Docker Image"
      run: docker build -t ketan1309/dummy-node-app:latest .

    - name: "Build Successful"
      run: echo "docker image build successfully!!"

    - name: "Login with docker credentials"
      run: echo "dckr_pat_Rw1VjxMe9VXoOnK-t6FVDifNISY" | docker login -u ketan1309 --password-stdin 

    - name: "Login Successful"
      run: echo "Dockerlogin Successful!!!" 